.header {
    padding: 20px 40px;
    background-color: rgba(245, 210, 182, 0.185);

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;

        .logo-app {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1mm;

            .header-logo {
                width: 36px;
                height: 36px;
                margin-right: 4px;
            }
        }

        .menu-item {
            font-size: 16px;
            color: #333;
            //          text-decoration: underline;
            cursor: pointer;
            margin: 0px;
            letter-spacing: 0.5mm;

            &:hover {
                color: gray;
                text-decoration: underline;
            }
        }
    }

}